.alert {
  @include flexbox;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: $network-alert-height-sm;
  padding: 0 20px;
  background-color: $red;
  cursor: pointer;

  &:hover {
    .icon,
    h1 {
      opacity: 0.5;
    }
  }

  .icon,
  h1 {
    transition: $transition-short;
  }

  .icon {
    flex-grow: 0;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  h1 {
    @include textStyle(13, 700);
  }

  button {
    margin-left: 0.5em;
  }

  @include responsive(MD) {
    height: $network-alert-height-md;

    .icon {
      width: 20px;
      height: 20px;
    }

    h1 {
      @include textStyle(14, 700);
    }
  }
}
