.token {
  @include flexbox;
  @include imageContainer(30px);
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-color: $white;
  border-radius: 50%;

  &.placeholder {
    background-color: $ethereum;

    svg {
      width: 50%;
      height: 50%;
      color: $white;
    }
  }
}
