$checkbox-size: 20px;

.checkboxWrapper {
  position: relative;
  width: $checkbox-size;
  height: $checkbox-size;
  overflow: hidden;

  &.disabled {
    & + label {
      opacity: 0.5;
    }
  }
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: $checkbox-size;
  height: $checkbox-size;
  background-color: transparent;
  appearance: none;
  cursor: pointer;

  &:not(:disabled):hover + .fakeInput {
    border-color: $gray-4;

    .light & {
      border-color: $gray-3;
    }
  }

  &:checked {
    &:hover {
      & + .fakeInput {
        border-color: darken($primary, 20);
      }
    }

    & + .fakeInput {
      background-color: $primary;
      border-color: transparent;

      .icon {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.fakeInput {
  @include flexbox;
  @include posCenter;
  width: $checkbox-size;
  height: $checkbox-size;
  border: 2px solid $gray-5;
  border-radius: $radius-sm;
  transition: $transition-short;
}

.icon {
  width: 18px;
  height: 18px;
  color: $black;
  opacity: 0;
  visibility: hidden;
  transition: $transition-short;
}
