@mixin buttonStyle($variant) {
  $amount: 10;

  @include inlineFlexbox;
  cursor: pointer;
  white-space: nowrap;
  background-color: $variant;
  border-radius: $radius-sm;
  transition: $transition-short;

  @if ($variant != $black) {
    &:not(:disabled),
    &:not(.disabled) {
      &:hover {
        background-color: darken($variant, $amount);
      }

      &:active {
        background-color: darken($variant, $amount * 2);
      }
    }
  } @else {
    &:not(:disabled),
    &:not(.disabled) {
      &:hover {
        background-color: lighten($variant, $amount / 2);
      }

      &:active {
        background-color: lighten($variant, $amount);
      }
    }
  }

  &:disabled,
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// Button Variants

.btnPrimary {
  @include buttonStyle($primary);
  color: $black;
}

.btnSecondary {
  @include buttonStyle($black);
  color: $white;
}

.btnTertiary {
  @include buttonStyle($gray-2);
  color: $black;
}

.btnDanger {
  @include buttonStyle($red);
  color: $white;
}

// Button Sizes

.btnSmall {
  @include textStyle(14, 700);
  height: 28px;
  padding-right: 10px;
  padding-left: 8px;

  .lottie,
  .svg {
    flex-shrink: 0;
    margin-left: -0.1em;
  }

  .lottie {
    width: 20px;
    height: 20px;
    margin-right: 0.3em;
    margin-left: -0.15em;
    transform: scale(2);
  }

  svg {
    width: 16px;
    height: 16px;
    margin-right: 0.4em;
  }
}

.btnMedium {
  @include textStyle(16, 700);
  height: 36px;
  padding-right: 16px;
  padding-left: 14px;

  .lottie,
  .svg {
    flex-shrink: 0;
    margin-left: -0.1em;
  }

  .lottie {
    width: 24px;
    height: 24px;
    margin-right: 0.2em;
    margin-left: -0.2em;
    transform: scale(2);
  }

  svg {
    width: 18px;
    height: 18px;
    margin-right: 0.4em;
  }
}

.btnLarge {
  @include textStyle(16, 700);
  height: 50px;
  padding-right: 20px;
  padding-left: 18px;

  .lottie,
  .svg {
    flex-shrink: 0;
    margin-left: -0.1em;
  }

  .lottie {
    width: 26px;
    height: 26px;
    margin-right: 0.3em;
    margin-left: -0.3em;
    transform: scale(2);
  }

  svg {
    width: 20px;
    height: 20px;
    margin-right: 0.4em;
  }
}

.full {
  width: 100%;
}
