.pendingTx {
  position: relative;
  margin-right: 16px;
  pointer-events: initial;
}

.txButton {
  @include flexbox;
  position: relative;
  width: 36px;
  height: 36px;
  color: $white;
  border: 2px solid $gray-5;
  border-radius: 50%;
  transition: $transition-short;

  &.active {
    border-color: transparent;

    &:hover {
      background-color: darken($gray-5, 10);
    }
  }

  &:not(.active):hover {
    color: $primary;
    border-color: $primary;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.ongoing {
  @include flexbox;
  @include textStyle(14, 700);
  position: relative;
  width: 32px;
  height: 32px;

  .lottie {
    @include posCenter;
    width: 54px;
    height: 54px;
  }

  span {
    text-indent: -3px;
  }
}

.txMenu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  width: 310px;
  padding: 16px 20px;
  color: $black;
  background-color: $white;
  border-radius: $radius-sm;
  box-shadow: $modal-box-shadow;
}

.title {
  @include textStyle(16, 700);
  margin-bottom: 10px;
}

.placeholder {
  @include textStyle(13, 500);
  margin-bottom: 10px;
  color: $gray-4;
}

.txList {
  margin-bottom: 8px;
}

.txItem {
  position: relative;
  padding: 8px;
  padding-right: 48px;
  margin: 0 -8px 4px;
  margin-bottom: 4px;
  border-radius: $radius-sm;
  word-break: break-all;

  &:hover {
    background-color: $gray-1;

    .deleteButton {
      opacity: 1;
      visibility: visible;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  header {
    @include flexbox(start);
  }

  h4 {
    @include textStyle(14, 700);
    font-style: normal;
    text-indent: -1px;

    a {
      transition: $transition-short;

      &:hover {
        opacity: 0.5;
      }
    }

    span {
      margin-right: 4px;
      line-height: 16px;
    }
  }

  .link {
    @include flexbox;
    position: relative;
    top: -1px;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    color: $gray-3;

    &:hover {
      color: $gray-4;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .timestamp {
    @include textStyle(12, 400);
    color: $gray-3;
  }

  p {
    @include textStyle(13, 400);
    color: $gray-5;
  }
}

.deleteButton {
  @include posCenterY;
  @include inlineFlexbox;
  right: 8px;
  width: 32px;
  height: 32px;
  color: $gray-3;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: $transition-short;

  &:hover {
    color: $red;
    background-color: lighten($red, 40);
  }

  svg {
    width: 18px;
    height: 18px;
  }
}

.clearButton {
  text-decoration: underline;
  transition: $transition-short;

  &:hover {
    opacity: 0.5;
  }
}
