.dashboard {
  position: relative;
  padding: 20px;
  margin-bottom: $gutter * 2;
  background-color: rgba($black, 0.9);
  border-radius: $radius-sm;

  @include responsive(LG) {
    width: getColumnWidth($column-lg, 10);
    padding: 30px;
  }

  @include responsive(XL) {
    width: getColumnWidth($column-xl, 8);
  }
}

.reward {
  margin-bottom: 40px;

  .detailItem {
    margin-bottom: 20px;
  }

  dt {
    @include textStyle(13, 400);
    margin-bottom: 4px;
  }

  dd {
    @include flexbox(start);
    @include textStyle(24, 700);
    margin-left: -0.1em;

    .usd {
      top: 4px;
      margin-left: 0.5em;
    }
  }

  @include responsive(MD) {
    .detail {
      @include flexbox(between);
      margin-bottom: 20px;
    }

    .detailItem {
      margin-bottom: 0;
      width: 50%;
    }

    dt {
      @include textStyle(14);
      margin-bottom: 8px;
    }

    dd {
      @include textStyle(30);

      .usd {
        @include textStyle(13);
        margin-left: 0.75em;
      }
    }
  }

  @include responsive(LG) {
    @include flexbox(between);

    .detail {
      flex-grow: 1;
      justify-content: flex-start;
      margin-bottom: 0;
    }

    .detailItem {
      width: auto;
      padding-right: 40px;

      &:first-child {
        min-width: 50%;
      }
    }

    button {
      flex-shrink: 0;
      width: 150px;
    }
  }
}

.apr {
  .detail {
    @include flexbox(between);
    flex-wrap: wrap;
  }

  .detailItem {
    width: 50%;

    &.isBig {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  dt {
    @include textStyle(12, 400);
    margin-bottom: 4px;
  }

  dd {
    @include flexbox(start);
    @include textStyle(18, 700);
    margin-left: -0.1em;

    .usd {
      top: 2px;
      margin-left: 0.5em;
    }
  }

  @include responsive(MD) {
    .detail {
      flex-wrap: nowrap;
    }

    .detailItem {
      flex-grow: 1;
      width: auto !important;

      &.isBig {
        flex-grow: 2;
        margin-bottom: 0;
      }
    }

    dt {
      @include textStyle(14);
      margin-bottom: 5px;
    }

    dd {
      .usd {
        @include textStyle(13);
        top: 2px;
      }
    }
  }

  @include responsive(LG) {
    .detail {
      justify-content: flex-start;
    }

    .detailItem {
      flex-grow: 0 !important;
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.usd {
  position: relative;
}
