.form {
  position: relative;
  padding-top: 20px;
}

.checkboxGroup {
  @include flexbox(start);
  @include textStyle(14, 400);
  margin-bottom: 30px;

  > * {
    flex-shrink: 0;
  }

  label {
    @include textStyle(13, 400);
    margin-left: 8px;
  }

  @include responsive(MD) {
    margin-bottom: 40px;

    label {
      @include textStyle(14);
      margin-left: 12px;
    }
  }
}
