.inputGroup {
  margin-bottom: 30px;

  @include responsive(MD) {
    margin-bottom: 40px;
  }
}

.balanceGroup {
  @include flexbox(start);
  padding-right: 4px;
  margin-top: 4px;
  white-space: nowrap;

  strong {
    @include textStyle(13, 500);
    margin-left: 6px;
  }

  .balance {
    @include textStyle(13, 700);
    flex-grow: 1;
    padding-left: 8px;
    text-align: right;
  }
}

.token {
  @include inlineFlexbox;
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border: 1px solid $gray-6;
  border-radius: 50%;

  &.ether {
    background-color: $ethereum;

    svg {
      width: 10px;
      height: auto;
    }
  }

  &.wncg {
    @include imageContainer(16px);
    margin-left: -4px;
    background-color: $white;
  }
}
