.inputGroup {
  margin-bottom: 30px;

  @include responsive(MD) {
    margin-bottom: 40px;
  }
}

.balanceGroup {
  @include flexbox(start);
  padding-right: 4px;
  margin-top: 4px;
  white-space: nowrap;

  &.disabled {
    opacity: 0.5;
    user-select: none;
  }

  strong {
    @include textStyle(13, 500);
    margin-left: 6px;
  }

  .balance {
    @include textStyle(13, 700);
    flex-grow: 1;
    padding-left: 8px;
    text-align: right;
  }
}

.token {
  position: relative;
  width: 16px !important;
  height: 16px !important;
  border: 1px solid $gray-6;

  &:nth-child(2) {
    margin-left: -4px;
  }
}
