.overlay {
  @include flexbox(center, end);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(15, 22, 36, 0.4);
  backdrop-filter: blur(80px);

  @include responsive(MD) {
    align-items: center;
  }
}

.migrationModal {
  position: relative;
  flex-grow: 0;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 64px 24px 40px;
  color: $white;
  background: rgba($white, 0.04);
  border: 1px solid rgba(15, 22, 36, 0.1);
  border-radius: $radius-lg $radius-lg 0 0;
  box-shadow: 0px 4px 48px rgba($black, 0.48);

  @include responsive(MD) {
    width: calc(100% - #{24px * 2});
    padding: 48px;
    border-radius: $radius-lg;
  }
}

.header {
  @include flexbox(between, start);
  margin-bottom: 24px;

  br {
    display: none;
  }

  @include responsive(MD) {
    br {
      display: block;
    }
  }
}

.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.02em;

  @include responsive(MD) {
    font-size: 32px;
    line-height: 39px;
  }
}

.desc {
  @include textStyle(14, 400);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: rgba($white, 0.6);

  a {
    text-decoration: underline;
  }
}

.closeButton {
  @include flexbox;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  margin-right: -8px;
  color: $white;
  transition: $transition-short;

  &:hover {
    color: $gray-3;
  }

  svg {
    width: 28px;
    height: 28px;
  }

  @include responsive(MD) {
    position: relative;
    top: auto;
    right: auto;
    bottom: 8px;
    left: 4px;
    margin-left: 32px;

    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.footer {
  margin-top: 48px;
}
