$step-size: 32px;
$step-margin: 40px;

.stepsWrapper {
  @include flexbox;
  position: relative;
  margin-bottom: 20px;
}

.divider {
  @include posCenter;
  width: $step-size * 2 + $step-margin;
  height: 2px;
  content: '';
  background-color: rgba($gray-3, 0.5);
  transition: $transition-short;

  &.lastStep {
    background-color: transparent;

    &::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &.isStaked {
    background-color: $primary;

    &::before {
      opacity: 0;
      visibility: hidden;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(
      to right,
      $white 25%,
      transparent 25%,
      transparent 50%,
      $white 50%,
      $white 75%,
      transparent 75%,
      transparent
    );
    background-size: 20px 10px;
    opacity: 0;
    animation: move 3s linear infinite;
    visibility: hidden;
    transition: $transition-short;
  }
}

.steps {
  @include inlineFlexbox;
  position: relative;
}

.cooldown {
  @include flexbox(between);
  padding: 8px 0;

  dt {
    @include flexbox(start);
    @include textStyle(13, 400);
  }

  dd {
    @include textStyle(13, 700);
  }

  .info {
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 4px;

    &:hover {
      .tooltip {
        opacity: 1;
        visibility: visible;
        transform: translate3d(-50%, 0, 0);
      }
    }

    .tooltip {
      width: 240px;
      white-space: initial;
    }

    svg {
      width: 20px;
      height: 20px;
      color: $gray-3;
    }
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
