.toast {
  padding: 12px 16px 14px;
  background-color: $white;
}

.header {
  @include flexbox(start);
  margin-bottom: 2px;
}

.title {
  @include textStyle(14, 500);
  color: $black;

  .anchor {
    transition: $transition-short;

    &:hover {
      opacity: 0.5;
    }
  }
}

.emoji {
  margin-right: 0.5em;
}

.link {
  @include flexbox;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  color: $gray-3;

  &:hover {
    color: $gray-4;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.desc {
  @include textStyle(13, 400);
  color: $gray-5;
}

.closeButton {
  @include flexbox;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 20px;
  height: 20px;
  color: darken($gray-3, 5);
  transition: $transition-short;

  &:hover {
    color: $gray-5;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}
