@use '../constants/typography' as typo;

@mixin _typeStyle($scale) {
  @if ($scale== 12) {
    font-size: typo.$font-size-12;
    line-height: typo.$line-height-12;
  } @else if ($scale == 13) {
    font-size: typo.$font-size-13;
    line-height: typo.$line-height-13;
  } @else if ($scale == 14) {
    font-size: typo.$font-size-14;
    line-height: typo.$line-height-14;
  } @else if ($scale == 16) {
    font-size: typo.$font-size-16;
    line-height: typo.$line-height-16;
  } @else if ($scale == 18) {
    font-size: typo.$font-size-18;
    line-height: typo.$line-height-18;
  } @else if ($scale == 24) {
    font-size: typo.$font-size-24;
    line-height: typo.$line-height-24;
  } @else if ($scale == 30) {
    font-size: typo.$font-size-30;
    line-height: typo.$line-height-30;
  }
}

@mixin _fontWeightStyle($scale, $weight) {
  @if (type-of($weight) == 'number') {
    font-weight: $weight;
  }

  @if ($weight == 400) {
    @if ($scale== 12) {
      letter-spacing: typo.$letter-spacing-12 - 0.01em;
    } @else if ($scale == 13) {
      letter-spacing: typo.$letter-spacing-13 - 0.01em;
    } @else if ($scale == 14) {
      letter-spacing: typo.$letter-spacing-14 - 0.01em;
    } @else if ($scale == 16) {
      letter-spacing: typo.$letter-spacing-16 - 0.01em;
    } @else if ($scale == 18) {
      letter-spacing: typo.$letter-spacing-18 - 0.01em;
    } @else if ($scale == 24) {
      letter-spacing: typo.$letter-spacing-24 - 0.01em;
    } @else if ($scale == 30) {
      letter-spacing: typo.$letter-spacing-30 - 0.01em;
    }
  } @else if ($weight == 500 or $weight == 700) {
    @if ($scale== 12) {
      letter-spacing: typo.$letter-spacing-12;
    } @else if ($scale == 13) {
      letter-spacing: typo.$letter-spacing-13;
    } @else if ($scale == 14) {
      letter-spacing: typo.$letter-spacing-14;
    } @else if ($scale == 16) {
      letter-spacing: typo.$letter-spacing-16;
    } @else if ($scale == 18) {
      letter-spacing: typo.$letter-spacing-18;
    } @else if ($scale == 24) {
      letter-spacing: typo.$letter-spacing-24;
    } @else if ($scale == 30) {
      letter-spacing: typo.$letter-spacing-30;
    }

    font-style: italic;
  }
}

@mixin textStyle($scale, $weight: false) {
  @include _typeStyle($scale);
  @include _fontWeightStyle($scale, $weight);
}
