.formSection {
  form {
    width: 100%;
    overflow-x: auto;
  }

  @include responsive(MD) {
    padding: 20px;
    background-color: rgba($black, 0.9);
    border-radius: $radius-sm;
  }

  @include responsive(LG) {
    padding: 30px;
  }
}

.header {
  @include flexbox(between);
  margin-bottom: 20px;

  .title {
    @include textStyle(18, 700);
  }
}

.formSummary {
  margin-top: 20px;
  margin-bottom: 20px;

  .warning {
    dd {
      color: $red;
    }

    svg {
      width: 16px;
      height: 16px;
      margin-left: 4px;
      color: lighten($red, 10);
    }
  }

  .maxButton,
  .optButton {
    @include textStyle(13, 700);
    color: $primary;
    transition: $transition-short;

    &[disabled],
    &:hover {
      opacity: 0.5;
    }

    &[disabled] {
      cursor: not-allowed;
      color: $gray-3;
    }
  }

  .maxButton {
    margin-left: 8px;
  }

  .optButton {
    @include posCenterY;
    right: 2px;
  }

  > div {
    @include flexbox(start);
    width: 100%;
    padding: 4px 0;

    dt {
      @include textStyle(14, 400);
      width: 100px;
    }

    dd {
      @include flexbox(start);
      position: relative;
      flex-grow: 1;

      strong {
        @include textStyle(18, 700);
      }
    }
  }
}

.misc {
  @include textStyle(12);
  padding: 4px 20px;
  color: $primary;
}
