.myPoolBalance {
  padding: 30px;
}

.title {
  @include textStyle(16, 700);
  margin-bottom: 20px;
}

.detailItem {
  margin-bottom: 20px;

  .token {
    width: 40px !important;
    height: 40px !important;
    margin-right: 10px;
  }

  .symbol {
    @include flexbox(start, start);
    flex-direction: column;

    strong {
      @include textStyle(16, 700);
    }

    span {
      @include textStyle(13, 400);
      padding-left: 2px;
    }
  }

  dt {
    @include flexbox(start);
  }
}

.buttonGroup {
  button {
    &:first-child:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
