.poolComposition {
  margin-bottom: 50px;
}

.title {
  @include textStyle(16, 700);
  margin-bottom: 20px;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  min-width: 100%;

  th,
  td {
    text-align: right;
    padding-left: 20px;

    &:first-child {
      padding-left: 0;
      text-align: left;
    }
  }

  th {
    @include textStyle(12, 700);
    height: 32px;
  }

  td {
    @include textStyle(14, 400);
    height: 44px;
  }

  @include responsive(MD) {
    th {
      @include textStyle(14);
      height: 40px;
    }

    td {
      @include textStyle(16);
      height: 50px;
    }
  }
}

.symbol {
  @include flexbox(start);

  strong {
    font-weight: 400;
    text-transform: uppercase;
  }

  .externalLink {
    @include flexbox;
    width: 24px;
    height: 24px;

    svg {
      width: 20px;
      height: 20px;
      color: $gray-3;
    }
  }
}

.token {
  margin-right: 8px;
}
