$dropdown-offset: 16px;
$dropdown-padding: 4px;
$toggle-max-width: 169px;
$toggle-min-width: 108px;
$input-height: 60px;
$input-padding: 16px;

.tokenInputField {
  width: 100%;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.tokenInputGroup {
  width: 100%;
  padding: 0 $input-padding;
  color: $white;
  background-color: $gray-6;
  border: 2px solid transparent;
  border-radius: $radius-sm;
  box-shadow: $inner-box-shadow;
  transition: $transition-short;

  &.error {
    border-color: $red;
  }

  .control {
    @include flexbox(start);
    position: relative;
    width: 100%;
  }
}

.balanceGroup {
  @include flexbox(start);
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  white-space: nowrap;

  .label {
    @include textStyle(13, 400);
  }

  .balance {
    @include textStyle(13, 700);
    flex-grow: 1;
    margin-left: 8px;
  }

  .maxButton,
  .propButton {
    transition: $transition-short;

    &[disabled] {
      color: $gray-3;
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .maxButton {
    @include textStyle(13, 700);
    margin-left: 8px;
    color: $primary;
  }

  .propButton {
    @include posCenterY;
    @include textStyle(13, 400);
    right: 0;
    color: $primary;
  }

  strong {
    @include textStyle(13, 500);
    font-style: normal;
  }
}

.tokenDropdown {
  @include flexbox;
  position: relative;
  z-index: 2;
  flex-shrink: 0;

  &.show {
    .dropdownToggle {
      .caret {
        transform: rotate(180deg);
      }
    }

    .dropdownMenu {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
    }
  }

  .tokenGroup {
    @include inlineFlexbox(start);
    margin-right: 8px;

    .token {
      position: relative;
      margin-left: -10px;
      margin-right: 0;
      border: 1px solid $black;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  button {
    font-style: normal;
    font-weight: 500;

    .token {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    svg {
      margin-right: 0;
    }
  }
}

.dropdownToggle {
  position: relative;
  min-width: $toggle-min-width;
  max-width: $toggle-max-width;

  &[disabled] {
    cursor: initial;
    opacity: 1;
  }

  .caret {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-right: -4px;
    color: $gray-2;
    transition: $transition-short;
  }
}

.dropdownMenu {
  @include flexbox(start, start);
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  flex-direction: column;
  padding: $dropdown-padding;
  background-color: $black;
  border-radius: $radius-sm;
  box-shadow: $dropdown-box-shadow;
  transition: $transition-long;
  transform: translate3d(0, -4px, 0);
  opacity: 0;
  visibility: hidden;

  li {
    @include inlineFlexbox;
    width: 100%;

    &.selected {
      .label {
        color: $primary;
      }
    }

    button {
      @include inlineFlexbox(start);
      @include textStyle(16, 500);
      width: 100%;
      height: 36px;
      padding-right: 16px - $dropdown-padding;
      padding-left: 14px - $dropdown-padding;
      color: $white;
      font-style: normal;
      white-space: nowrap;
      cursor: pointer;
      border-radius: $radius-sm;
      transition: $transition-short;

      &:hover {
        opacity: 0.5;
      }

      .token {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }

      .label {
        flex-grow: 1;
        text-align: left;
      }

      .check {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        margin-left: 8px;
        color: $primary;
      }
    }
  }
}

.tokenInput {
  @include textStyle(18, 400);
  width: 100%;
  height: $input-height;
  padding-right: 0;
  padding-left: $input-padding;
  text-align: right;
  color: $white;

  &::placeholder {
    color: rgba($white, 0.5);
  }
}

.errorMessage,
.warningMessage {
  @include textStyle(13, 400);
  position: relative;
  z-index: 1;
  margin-top: 4px;
}

.errorMessage {
  color: $red;
}

.warningMessage {
  color: $primary;
}
