$input-height: 60px;
$input-padding: 16px;

.tokenInputField {
  width: 100%;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.tokenInputGroup {
  position: relative;
  width: 100%;
  padding: 0 $input-padding;
  color: $white;
  background-color: $gray-6;
  border: 2px solid transparent;
  border-radius: $radius-sm;
  box-shadow: $inner-box-shadow;
  transition: $transition-short;

  &.error {
    border-color: $red;
  }

  .control {
    @include flexbox(start);
    position: relative;
    width: 100%;
  }
}

.balanceGroup {
  @include flexbox(start);
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  white-space: nowrap;

  .label {
    @include textStyle(13, 400);
  }

  .balance {
    @include textStyle(13, 700);
    flex-grow: 1;
    margin-left: 8px;
  }

  .maxButton,
  .propButton {
    transition: $transition-short;

    &[disabled] {
      color: $gray-3;
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .maxButton {
    @include textStyle(13, 700);
    margin-left: 8px;
    color: $primary;
  }

  .propButton {
    @include posCenterY;
    @include textStyle(13, 400);
    right: 0;
    color: $primary;
  }

  strong {
    @include textStyle(13, 500);
    font-style: normal;
  }
}

.tokenLabel {
  @include flexbox;
  position: relative;
  z-index: 2;
  flex-grow: 0;
  flex-shrink: 0;

  .label {
    @include inlineFlexbox;
    @include textStyle(16, 700);
    height: 36px;
    padding-right: 16px;
    padding-left: 14px;

    cursor: initial;
    color: $white;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    background-color: $black;
    border-radius: $radius-sm;

    .token {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
}

.tokenInput {
  @include textStyle(18, 400);
  width: 100%;
  height: $input-height;
  padding-right: 0;
  padding-left: $input-padding;
  text-align: right;
  color: $white;

  &::placeholder {
    color: rgba($white, 0.5);
  }
}

.percentageInput {
  margin-bottom: 8px;
}

.errorMessage,
.warningMessage {
  @include textStyle(13, 400);
  position: relative;
  z-index: 1;
  margin-top: 4px;
}

.errorMessage {
  color: $red;
}

.warningMessage {
  color: $primary;
}
