.metamaskGuideModal {
  max-width: 300px;
  padding: 30px;
  background-color: $white;
  border-radius: $radius-sm;
}

.title {
  @include textStyle(18, 700);
  margin-bottom: 20px;
  color: $black;
}

.desc {
  @include textStyle(14, 400);
  margin-bottom: 20px;
  color: $black;
}
