.stakeWarningModal {
  max-width: 320px;
  width: calc(100% - 20px);
  padding: 30px;
  background-color: $white;
  border-radius: $radius-sm;
}

.title {
  @include textStyle(18, 700);
  margin-bottom: 20px;
  color: $black;
}

.desc {
  @include textStyle(14, 400);
  margin-bottom: 20px;
  color: $black;
}

.agreement {
  @include flexbox(start);
  @include textStyle(14, 400);
  margin-bottom: 20px;
  color: $black;

  .checkbox {
    flex-shrink: 0;
    margin-right: 10px;
  }

  a {
    margin: 0 0.2em;
    text-decoration: underline;

    &:hover {
      opacity: 0.5;
    }
  }
}
