$black: #000;
$gray-6: #202020;
$gray-5: #666;
$gray-4: #808080;
$gray-3: #b3b3b3;
$gray-2: #f2f2f2;
$gray-1: #fafafa;
$white: #fff;
$primary: #fff684;
$red: #ff5216;
$green: #3eb778;
$dark-mint: #007a8f;
$ethereum: #6f97f8;

$black-gradient: linear-gradient(to top, $black 0%, rgba($black, 0.1) 100%);
$gray-gradient: linear-gradient(-45deg, $gray-2, $white, $gray-3, $gray-4);
$orange-gradient: linear-gradient(-45deg, $primary, #ee7752, #e73c7e);
