$gutter: 10px;
$columns: 12;

$column-md: 40px;
$column-lg: 60px;
$column-xl: 80px;

$max-container-sm: 640px;
$max-container-md: ($column-md + $gutter * 2) * $columns;
$max-container-lg: ($column-lg + $gutter * 2) * $columns;
$max-container-xl: ($column-xl + $gutter * 2) * $columns;
