.main {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: #{$gnb-height-sm + 16px} 0 60px;
  overflow-y: auto;
  transition: $transition-network-alert;

  &::-webkit-scrollbar {
    display: none;
  }

  @include responsive(MD) {
    height: auto;
    padding: #{$gnb-height-md + 24px} 0 80px;
  }

  @include responsive(LG) {
    padding: 0;
  }
}

.container {
  width: 100%;
  max-width: 448px;
  padding: 32px 20px;
  margin: 0 auto;

  @include responsive(MD) {
    max-width: $max-container-md;
    height: 100vh;
    padding: 0;
    padding-top: 40px;
  }

  @include responsive(LG) {
    @include flexbox;
    flex-direction: column;
    max-width: $max-container-lg;
    height: calc(100vh - #{$global-footer-height-md});
    padding-top: 0;
    padding-bottom: 20px;
  }

  @include responsive(XL) {
    max-width: $max-container-xl;
  }
}

.title {
  @include textStyle(30, 700);
  width: 100%;
  margin-bottom: 50px;
  text-align: center;

  @include responsive(MD) {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 60px;
  }
}

.subtitle {
  @include textStyle(24, 700);
  width: 100%;
  margin-bottom: 30px;
  text-align: center;

  @include responsive(LG) {
    @include textStyle(18);
    text-align: left;
  }
}

.wrapper {
  @include responsive(LG) {
    @include flexbox;
    width: 100%;
  }
}

.cardGroup {
  @include flexbox(between);
  flex-wrap: wrap;
  padding-bottom: 50px;

  &.ncg {
    margin-bottom: 50px;
  }

  @include responsive(MD) {
    &.wncg {
      justify-content: center;
    }
  }

  @include responsive(LG) {
    &.ncg {
      width: (280px * 2 + 20px);
      margin-right: 20px;
      margin-bottom: 0;
    }

    &.wncg {
      width: 280px;
    }
  }
}

.card {
  @include flexbox(start, start);
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  font-style: italic;
  background-color: $gray-6;
  border-radius: $radius-sm;

  &.monster {
    .bg {
      right: -10%;
      bottom: -5%;
      width: 70%;
    }
  }

  &.pos {
    .bg {
      right: -22%;
      bottom: -5%;
      width: 95%;
    }
  }

  &.staking {
    .bg {
      right: -24%;
      bottom: -60%;
      width: 110%;
      max-width: initial !important;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    .bg {
      transform: scale(1.1);
    }
  }

  .bg {
    @include imageContainer;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
    transition: $transition-long;
  }

  strong {
    position: absolute;
    top: 30px;
    left: 20px;
    width: calc(100% - 40px);

    span {
      display: block;
      margin-top: 4px;
      font-size: 0.7em;
      font-weight: 500;
      letter-spacing: -0.01em;
    }
  }

  @include responsive(MD) {
    width: calc(50% - 10px);
    padding-bottom: calc(50% - 10px);
    margin: 0;
  }

  @include responsive(LG) {
    width: 280px;
    height: 280px;
    padding-bottom: 0;
  }
}
