// Global Toast
.toastContainer {
  @include posCenterX(fixed);
  top: 10px;
  z-index: 20;
  width: calc(100% - 20px) !important;

  @include responsive(MD) {
    top: auto;
    right: 30px;
    bottom: 30px;
    left: auto;
    width: 290px !important;
    transform: none;
  }
}

.toast,
.toastBody {
  padding: 0 !important;
}

.toast {
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: $radius-sm !important;

  &:last-child {
    margin-bottom: 0;
  }
}

.progressBar {
  height: 6px;
  background: $orange-gradient !important;
}

.fadeIn,
.fadeOut {
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
}

.fadeOut {
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    transform: translate3d(120%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
