// Global Toast
.toastContainer {
  @include posCenterX(fixed);
  top: 0;
  z-index: 20;
  padding: 24px 0 10px;
  overflow: visible;
  width: calc(100% - #{24px * 2}) !important;

  @include responsive(MD) {
    top: auto;
    right: 48px;
    bottom: 48px;
    left: auto;
    width: 320px !important;
    padding: 0;
    transform: none;
  }
}

.toast,
.toastBody {
  padding: 0 !important;
  background-color: transparent;
}

.toast {
  margin-bottom: 8px;
  overflow: visible !important;
  transition: $transition-short;

  &:last-child {
    margin-bottom: 0;
  }

  @include responsive(MD) {
    margin-bottom: 16px;
  }
}

.fadeIn,
.fadeOut {
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
}

.fadeOut {
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    transform: translate3d(120%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
