// Global Toast
.toastContainer {
  @include posCenterX(fixed);
  top: 10px;
  z-index: 20;
  width: calc(100% - 20px) !important;

  @include responsive(MD) {
    top: auto;
    right: 48px;
    bottom: 48px;
    left: auto;
    width: 360px !important;
    padding: 0;
    transform: none;
  }
}

.toast,
.toastBody {
  padding: 0 !important;
}

.toast {
  margin-bottom: 8px;
  border-radius: $radius-md !important;
  transition: $transition-short;

  &:last-child {
    margin-bottom: 0;
    //   box-shadow: 0px 4px 64px 0px hsla(274, 100%, 84%, 0.48);

    //   aside {
    //     background-color: #8905ff;
    //     border: 1px solid rgba(15, 22, 36, 0.1);

    //     h4 {
    //       color: $white;
    //     }

    //     p {
    //       color: rgba($white, 0.6);
    //     }
    //   }

    //   > button {
    //     color: $white;
    //     opacity: 0.5;

    //     &:hover {
    //       opacity: 0.8;
    //     }
    //   }
    // }
  }

  @include responsive(MD) {
    margin-bottom: 20px;
  }
}

.fadeIn,
.fadeOut {
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
}

.fadeOut {
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    transform: translate3d(120%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
