.container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: $max-container-sm;
  padding: 0 20px;
  margin: 0 auto;

  @include responsive(MD) {
    max-width: $max-container-md;
    padding: 0;
  }

  @include responsive(LG) {
    max-width: $max-container-lg;
  }

  @include responsive(XL) {
    max-width: $max-container-xl;
  }
}

.audit {
  @include flexbox(start);
  @include textStyle(12, 500);
  padding: 8px 0;
  font-size: 11px;
  color: $gray-3;

  a {
    text-decoration: underline;
  }

  @include responsive(MD) {
    @include textStyle(13);
  }
}
